.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #16077c;
}

h1 {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif ;
  text-shadow: 5px 0 #630c56;
  font-size: 8rem;
  color: #ff00dd;
}

p {
  font-size: 3rem;
  text-shadow: 5px 0 #120c63;
  color: #2991f8;
  font-family: Arial, Helvetica, sans-serif ;
  
}

img {
  width: 100%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ;

}
